.grid {
	display: grid;
	grid-gap: 20px;
	margin-top: 62px;
	grid-template-areas:
		"aside"
		"article"
		"footer"
		"header";
}

header {
	grid-area: header;
}

aside {
	grid-area: aside;
}

article {
	grid-area: article;
}

footer {
	grid-area: footer;
}

@media (min-width: 640px) {
	.grid {
		margin-top: 75px;
		margin-bottom: 10px;
		grid-template-columns: 2fr 4fr;
		grid-template-areas:
			"header header"
			"aside article"
			"aside footer"
	}
}

.grid > * {
	background-color: #28314E;
	border: 1px solid #212941;
	border-radius: 5px;
	padding: 8px 15px;
	color: #ffffff;
	font-size: 18px;
	font-family: roboto;
}

.grid > *:nth-child(odd) {
	background-color: #475477;
}



.info_text {
	overflow: hidden;
	background-color: #333;
	position: fixed; /* Set the info_text to fixed position */
	top: 0; /* Position the info_text at the top of the page */
	width: 100%; /* Full width */
  }
  
  /* Links inside the info_text */
  .info_text a {
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .info_text a:hover {
	background: #ddd;
	color: black;
  }


  /* Карусели */
  .carousel-inner {
	  max-width: 750px;
	  margin: auto;
  }

  img {
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
	float: left;
  }

.carousel, .slide, .my-5{
	display: grid;
	grid-gap: 20px;
}

.carousel, .slide, .my-5, .d-block .img-fluid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px
}