{% extends 'base.html' %}

{% block content %}
<div class="info_text">
    <div class="buttons_social">
        <a href="https://github.com/Mansur-09595/">
            <i class="fab fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://vk.com/mansmusaev/">
            <i class="fab fa-vk" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/?hl=ru">
            <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="#home">Home</a>
        <a href="#news">News</a>
    </div> 
</div>
<div class="grid">
    <header>Шапка</header>
    <article>
        <h1>Заголовок</h1>
        <p>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты.</p>
    </article>
    <footer><a href="{% url 'home' %}">Главная</a></footer>
</div>
<style>
    @media (min-width: 640px) {
        .grid {
            grid-template-columns: 2fr 4fr;
            grid-template-areas:
                "header header"
                "article article"
                "footer footer"
        }
    }
</style>
{% endblock %}